
.table {
    table-layout: fixed;
    word-break: break-all;

}

.thead_center {
    text-align: center;
}

.th_revised {
    width: 70px;
}

.th_text {
    width: 500px;
}

.th_status {
    width: 120px;
}

.th_action {
    width: 150px;
}
